.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  background-color: #222;
  color: white;
}

.App-map-container {
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.App-time {
  text-align: left;
  background-color: white;
  border: 1px solid #bbbbbb;
  bottom: 100px;
  height: 40px;
  padding: 5px;
  position: absolute;
  left: 30px;
  font-size: small;
}

.App-infobox {
  background-color: white;
  border: 1px solid #bbbbbb;
  bottom: 30px;
  height: 35px;
  padding: 5px;
  position: absolute;
  left: 30px;
}

.Scale-rectangle {
  width:30px;
  height:10px;
  display: inline-block;
  opacity: 0.4;
}

.Scale-label {
  top: -5px;
  width:30px;
  height:5px;
  display: inline-block;
  font-size: small;
}

.App-infobox-stops {
  background-color: white;
  border: 1px solid #bbbbbb;
  bottom: 30px;
  height: 35px;
  padding: 5px;
  position: absolute;
  left: 270px;
  font-size: small;
}
