.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  background-color: #222;
  color: white;
}

.App-map-container {
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
