html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.svgWrapper > svg {
  position: absolute;
  top: 0;
  left: 0;
}

.cell {
  stroke: #000;
  stroke-opacity: .1;
  opacity: .4;
}

.cell:hover {
  stroke: #000;
  stroke-opacity: .6;
  stroke-width: 2px;
}

.cell.selected {
  opacity: .6;
}
